
.singlePost{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.singlePostImg{
    width: 100%;
    border-radius: 5px;
    height: 450px;
    object-fit: cover;
}

.singlePostTitle{
    text-align: center;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;

}

.singlePostDate{
    margin-bottom: 20px;
    font-size: 16px;
    color:rgb(209, 121, 58);
    font-family: 'Courier New', Courier, monospace;
}

.singlePostDesc{
    
    font-size: 18px;
    line-height: 25px;
}

.singlePostDesc::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}